@import "../../../../assets/scss/static-variables";

$button-font-size: 1em;
$button-padding: 0.5em 1em;

$button-padding-sm: 0.5rem 1rem;
$button-font-size-sm: 1.1em;

button {
	background: rgba(var(--text), 0.1);
	border: 1px solid rgba(var(--text), 0.125);
	border-radius: 5px;
	cursor: default;
	display: inline-block;
	font-size: $button-font-size;
	padding: $button-padding;
	transition: all 100ms ease-in-out;

	&:hover {
		background: rgba(var(--text), 0.2);
	}

	&:active {
		background: transparent;
	}
}

@media screen and (min-width: $breakpoint-min-sm) {
	button {
		font-size: $button-font-size-sm;
		padding: $button-padding-sm;
	}
}
