<section class="experiences">
    <im-accordion
            expanded
            header-text="Développeur Angular Firebase">
        <div class="details">
            <div class="field">
                <span class="field--title">Entreprise</span>
                <span class="field--text">Hiero</span>
            </div>
            <div class="field">
                <span class="field--title">Secteur d'activité</span>
                <span class="field--text">Traduction de documents officiels</span>
            </div>
            <div class="field">
                <span class="field--title">Domaine d'activité</span>
                <span class="field--text">Solutions web/mobile</span>
            </div>
            <div class="field">
                <span class="field--title">Contrat</span>
                <span class="field--text">Apprentissage</span>
            </div>
            <div class="field">
                <span class="field--title">Durée</span>
                <span class="field--text">4 mois</span>
            </div>
            <div class="field">
                <span class="field--title">Ville</span>
                <span class="field--text">Paris</span>
            </div>
            <div class="field">
                <span class="field--title">Méthodologie</span>
                <span class="field--text">Agile / Kanban</span>
            </div>
            <im-accordion
                    header-text="Missions du poste">
                <ul class="list">
                    <li class="list-item">Assistance de la mise à jour des spécifications fonctionnelles avec les
                        compléments techniques
                    </li>
                    <li class="list-item">Assurance de l'intégration des modules dans la plateforme Web</li>
                    <li class="list-item">Assurance de de la maintenance des différents applicatifs existants</li>
                    <li class="list-item">Brainstorming sur les nouvelles fonctionnalités</li>
                    <li class="list-item">Création d'un algorithme et d'une plateforme</li>
                    <li class="list-item">Création d'une application mobile</li>
                    <li class="list-item">Développement et intégration les webservices</li>
                    <li class="list-item">Développement des fonctionnalités qui lui sont assignées (front et back)</li>
                    <li class="list-item">Développement de nouvelles fonctionnalités front pour nos utilisateurs</li>
                    <li class="list-item">Garantie du bon fonctionnement des produits existants</li>
                    <li class="list-item">Participation à la prise de décisions techniques</li>
                    <li class="list-item">Participation à la rédaction des spécificités fonctionnelles sur les nouveaux
                        projets
                    </li>
                    <li class="list-item">Participation aux différentes étapes des projets organisés en méthode agile
                    </li>
                    <li class="list-item">Proactivité dans l'amélioration du design de nos produits et l'UX</li>
                    <li class="list-item">Réalisation des tests unitaires sur ses développements</li>
                </ul>
            </im-accordion>
            <im-accordion
                    header-text="Technologies utilisées">
                <ul class="list">
                    <li class="list-item">Angular</li>
                    <li class="list-item">Firebase</li>
                    <li class="list-item">HTML/CSS</li>
                    <li class="list-item">Bootstrap</li>
                    <li class="list-item">Architecture MVC</li>
                </ul>
            </im-accordion>
        </div>
    </im-accordion>
    <im-accordion
            expanded
            header-text="Développeur en Web-mining">
        <div class="details">
            <div class="field">
                <span class="field--title">Entreprise</span>
                <span class="field--text">Idia Tech</span>
            </div>
            <div class="field">
                <span class="field--title">Secteur d'activité</span>
                <span class="field--text">Multiple</span>
            </div>
            <div class="field">
                <span class="field--title">Domaine d'activité</span>
                <span class="field--text">Solutions en Web-mining</span>
            </div>
            <div class="field">
                <span class="field--title">Contrat</span>
                <span class="field--text">Apprentissage</span>
            </div>
            <div class="field">
                <span class="field--title">Durée</span>
                <span class="field--text">9 mois</span>
            </div>
            <div class="field">
                <span class="field--title">Ville</span>
                <span class="field--text">Montpezat</span>
            </div>
            <div class="field">
                <span class="field--title">Méthodologie</span>
                <span class="field--text">Agile / Kanban</span>
            </div>
            <im-accordion
                    header-text="Missions du poste">
                <ul class="list">
                    <li class="list-item">Communication du projet avec les clients</li>
                    <li class="list-item">Développement et maintenance de scripts en langage Grimport</li>
                    <li class="list-item">Programmation de scripts de crawling</li>
                    <li class="list-item">Rédaction de cahier des charges</li>
                    <li class="list-item">Reverse-engineering de sites internet</li>
                    <li class="list-item">Support client d’utilisation de modules Prestashop</li>
                </ul>
            </im-accordion>
            <im-accordion
                    header-text="Technologies utilisées">
                <ul class="list">
                    <li class="list-item">Grimport</li>
                    <li class="list-item">HTML/CSS</li>
                    <li class="list-item">JavaScript DOM</li>
                    <li class="list-item">Prestashop</li>
                    <li class="list-item">Fiddler Classic</li>
                </ul>
            </im-accordion>
        </div>
    </im-accordion>
    <im-accordion
            expanded
            header-text="Développeur Java / Angular">
        <div class="details">
            <div class="field">
                <span class="field--title">Entreprise</span>
                <span class="field--text">SK-Consulting</span>
            </div>
            <div class="field">
                <span class="field--title">Secteur d'activité</span>
                <span class="field--text">Multiple</span>
            </div>
            <div class="field">
                <span class="field--title">Domaine d'activité</span>
                <span class="field--text">Solutions web/mobile</span>
            </div>
            <div class="field">
                <span class="field--title">Contrat</span>
                <span class="field--text">Apprentissage</span>
            </div>
            <div class="field">
                <span class="field--title">Durée</span>
                <span class="field--text">18 mois</span>
            </div>
            <div class="field">
                <span class="field--title">Ville</span>
                <span class="field--text">La Courneuve</span>
            </div>
            <div class="field">
                <span class="field--title">Méthodologie</span>
                <span class="field--text">Agile / Kanban</span>
            </div>
            <im-accordion
                    header-text="Missions du poste">
                <ul class="list">
                    <li class="list-item">Développement de librairies d’auto-configuration</li>
                    <li class="list-item">Implémentation d’API REST en microservice</li>
                    <li class="list-item">Implémentation de fonctionnalités front-end</li>
                    <li class="list-item">Participation à la maintenance d’applications web </li>
                    <li class="list-item">Participation au développement de fonctionnalités back-end</li>
                </ul>
            </im-accordion>
            <im-accordion
                    header-text="Technologies utilisées">
                <ul class="list">
                    <li class="list-item">Java</li>
                    <li class="list-item">Spring Boot</li>
                    <li class="list-item">Gradle</li>
                    <li class="list-item">Firebase</li>
                    <li class="list-item">Kafka</li>
                    <li class="list-item">Elasticsearch</li>
                    <li class="list-item">Angular</li>
                    <li class="list-item">Redux</li>
                    <li class="list-item">Docker</li>
                    <li class="list-item">Architecture Microservice</li>
                </ul>
            </im-accordion>
        </div>
    </im-accordion>
</section>
