<div class="desktop">
    <div class="container">
        @for (shortcut of shortcuts; track shortcut) {
            <div class="shortcut-window" (click)="openWindow(shortcut)" cdkDrag>
                <im-customable-folder-icon
                        [size]="65"
                        [frontColor]="shortcut.color"
                        [shadowColor]="shortcut.shadowColor"
                ></im-customable-folder-icon>
                <span class="label">{{ shortcut.name }}</span>
            </div>
        }
    </div>
    <im-taskbar></im-taskbar>
    <ng-container #window></ng-container>

</div>

