.card {
	background: rgba(var(--text), var(--layout-component-bg-opacity)) !important;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	height: calc(var(--card-width) * 0.75);
	padding: 1rem;
	width: var(--card-width);

	&--title, &--caption {
		font-size: 1rem;
		color: rgba(var(--text), 0.8);
	}

	&--title {
		margin-bottom: 0.75rem;
	}

	&--main-text {
		font-size: 1.4rem;
		font-weight: bold;
		margin-bottom: auto;
	}
}
