mat-expansion-panel {
	background: rgba(var(--text), var(--layout-component-bg-opacity));
	border-radius: 5px !important;

	&-header {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 1em;
		font-size: 1.1em;
		font-weight: 350;
		transition: all 100ms ease !important;

		&:hover, &.mat-expanded:hover {
			background: rgba(var(--text), var(--layout-component-bg-opacity)) !important;
		}

		&.mat-expanded {
			background: unset !important;
		}

		&, &.mat-expanded {
			height: unset !important;
		}

		mat-icon {
			margin-right: 0.5em;
		}

		.text-section {
			align-items: center;
			display: flex;
			margin-right: 1em;
		}

		.button-section {
			a {
				color: rgb(var(--text));
			}
		}
	}

	.expanded-content {
		border-top: 2px solid rgb(var(--theme-bg));
	}
}
