<div #window class="window" [ngClass]="{ maximized: isMaximized() }" cdkDrag resizable>
    <div class="container">
        <div class="header">
            <div class="topbar">
                <span class="small-title" cdkDragHandle>{{ name | firstlettercase }}</span>
                <div class="action-window">
                    @if (isMaximized()) {
                        <button class="minimize" title="Restaurer" (click)="onMinimize()">&ndash;</button>
                    } @else {
                        <button class="maximize" title="Agrandir" (click)="onMaximize()">&squ;</button>
                    }
                    <button class="close" title="Fermer" (click)="onClose()">&times;</button>
                </div>
            </div>
            <h1 class="title">{{ name | firstlettercase }}</h1>
        </div>
        <div class="content">
            <ng-container #container></ng-container>
        </div>
    </div>
</div>
