<div #window class="window" cdkDrag resizable>
    <div class="container">
        <div class="header">
            <div class="topbar">
                <span class="small-title" cdkDragHandle>{{ name | firstlettercase }}</span>
                <div class="action-window">
                    <button class="close" (click)="onClose()">&times;</button>
                </div>
            </div>
            <h1 class="title">{{ name | firstlettercase }}</h1>
        </div>
        <div class="content">
            <!--<ng-content></ng-content>-->
                <ng-container #container></ng-container>

        </div>
    </div>
</div>
