mat-expansion-panel {
	background: rgba(var(--text), var(--layout-component-bg-opacity));
	border-radius: 5px !important;

	&-header {
		padding: 1em;
		font-size: 1.1em;
		font-weight: 350;

		&.mat-expanded {
			background: unset !important;
		}

		&, &.mat-expanded {
			height: unset !important;
		}

		mat-icon {
			margin-right: 0.5em;
		}

		.text-section {
			align-items: center;
			display: flex;
		}
	}

	.expanded-content {
		border-top: 2px solid rgb(var(--theme-bg));
		padding: 1em;
	}
}
