<section class="school-career">
    <im-accordion
            expanded
            headerText="Titre professionnel de Concepteur Développeur d'Applications">
        <div class="details">
            <div class="field">
                <span class="field--title">Niveau scolaire</span>
                <span class="field--text">BAC +3/4</span>
            </div>
            <div class="field">
                <span class="field--title">Année d'obtention</span>
                <span class="field--text">2021</span>
            </div>
            <div class="field">
                <span class="field--title">Établissement</span>
                <span class="field--text">CFA INSTA</span>
            </div>
            <div class="field">
                <span class="field--title">Ville</span>
                <span class="field--text">Paris</span>
            </div>
        </div>
    </im-accordion>
    <im-accordion
            headerText="BTS SIO - option SLAM">
        <div class="details">
            <div class="field">
                <span class="field--title">Niveau scolaire</span>
                <span class="field--text">BAC +2</span>
            </div>
            <div class="field">
                <span class="field--title">Année d'obtention</span>
                <span class="field--text">2019</span>
            </div>
            <div class="field">
                <span class="field--title">Établissement</span>
                <span class="field--text">Lycée Louise Michel</span>
            </div>
            <div class="field">
                <span class="field--title">Ville</span>
                <span class="field--text">Bobigny</span>
            </div>
        </div>
    </im-accordion>
    <im-accordion
            headerText="BAC Professionnel Systèmes Electroniques Numériques (option Electronique Industrielle Embarquée)">
        <div class="details">
            <div class="field">
                <span class="field--title">Niveau scolaire</span>
                <span class="field--text">BAC</span>
            </div>
            <div class="field">
                <span class="field--title">Année d'obtention</span>
                <span class="field--text">2016</span>
            </div>
            <div class="field">
                <span class="field--title">Établissement</span>
                <span class="field--text">Lycée de la Tourelle</span>
            </div>
            <div class="field">
                <span class="field--title">Ville</span>
                <span class="field--text">Sarcelles</span>
            </div>
        </div>
    </im-accordion>
</section>
