<section class="projects">
    <im-accordion
            header-text="Portfolio type Système d'Exploitation"
            button-text="Voir le code"
            button-link="https://github.com/ibrahyma/portfolio"
            expanded
    >
        <div class="details">
            <div class="field">
                <span class="field--title">Description du projet</span>
                <span class="field--description">Ce projet présente un portfolio interactif développé en Angular, mettant en avant un système d'exploitation simulé et des fonctionnalités modernisées à l'aide d'Angular Material.</span>
            </div>
            <div class="field">
                <span class="field--title">Fin du projet</span>
                <span class="field--text">Juin 2025</span>
            </div>
            <div class="field">
                <span class="field--title">Technologies</span>
                <span class="field--text">Angular 19 (HTML/SCSS + TypeScript), Angular Material</span>
            </div>
        </div>
    </im-accordion>
    <im-accordion
            header-text="Système de messagerie privée"
    >
        <div class="details">
            <div class="field">
                <span class="field--title">Description du projet</span>
                <span class="field--description">Ce projet implémente un système de messagerie privée utilisant Spring Boot pour le back-end, ainsi que WebSocket et STOMP pour la communication en temps réel. L'interface utilisateur est développée avec Angular, offrant une expérience interactive et fluide.</span>
            </div>
            <div class="field">
                <span class="field--title">Fin du projet</span>
                <span class="field--text">Février 2025</span>
            </div>
            <div class="field">
                <span class="field--title">Technologies</span>
                <span class="field--text">Spring Boot, Java, WebSocket, STOMP, Angular</span>
            </div>
        </div>
    </im-accordion>

    <im-accordion
            header-text="Moteur de recherche personnalisé"
    >
        <div class="details">
            <div class="field">
                <span class="field--title">Description du projet</span>
                <span class="field--description">Application web utilisant Spring Boot pour le back-end, Angular pour l'interface utilisateur et ElasticSearch pour des fonctionnalités avancées de recherche.</span>
            </div>
            <div class="field">
                <span class="field--title">Fin du projet</span>
                <span class="field--text">Février 2025</span>
            </div>
            <div class="field">
                <span class="field--title">Technologies</span>
                <span class="field--text">Spring Boot, Java, Angular, ElasticSearch</span>
            </div>
        </div>
    </im-accordion>
    <im-accordion
            header-text="Simple application web de Todolist"
    >
        <div class="details">
            <div class="field">
                <span class="field--title">Description du projet</span>
                <span class="field--description">Une application web minimaliste permettant de gérer une liste de tâches avec un back-end Spring Boot et une interface Angular.</span>
            </div>
            <div class="field">
                <span class="field--title">Fin du projet</span>
                <span class="field--text">Février 2025</span>
            </div>
            <div class="field">
                <span class="field--title">Technologies</span>
                <span class="field--text">Spring Boot, Java, Angular</span>
            </div>
        </div>
    </im-accordion>
    <im-accordion
            header-text="Script de mise à jour du thème Windows selon l’heure de la journée"
    >
        <div class="details">
            <div class="field">
                <span class="field--title">Description du projet</span>
                <span class="field--description">Un script créé pour modifier automatiquement le thème de Windows (clair/sombre) en fonction de l'heure actuelle. Idéal pour une utilisation personnalisée sur Windows.</span>
            </div>
            <div class="field">
                <span class="field--title">Fin du projet</span>
                <span class="field--text">Mai 2024</span>
            </div>
            <div class="field">
                <span class="field--title">Technologies</span>
                <span class="field--text">JavaScript, Node.js, Windows, Script DIY</span>
            </div>
        </div>
    </im-accordion>
    <im-accordion
            header-text="Bot Discord de partage de dépenses communes"
    >
        <div class="details">
            <div class="field">
                <span class="field--title">Description du projet</span>
                <span class="field--description">Bot Discord conçu pour gérer et partager les dépenses communes entre les membres d’un serveur. Développé en TypeScript avec l’API Discord.</span>
            </div>
            <div class="field">
                <span class="field--title">Fin du projet</span>
                <span class="field--text">Mars 2024</span>
            </div>
            <div class="field">
                <span class="field--title">Technologies</span>
                <span class="field--text">TypeScript, Discord API, Script DIY</span>
            </div>
        </div>
    </im-accordion>
    <im-accordion
            header-text="Bot Télégram de services de chat de groupe"
    >
        <div class="details">
            <div class="field">
                <span class="field--title">Description du projet</span>
                <span class="field--description">Un bot Telegram configurable pour des services de chat de groupe enrichis, utilisant Django REST et l’API Telegram.</span>
            </div>
            <div class="field">
                <span class="field--title">Fin du projet</span>
                <span class="field--text">Mars 2024</span>
            </div>
            <div class="field">
                <span class="field--title">Technologies</span>
                <span class="field--text">Python, Django REST, Telegram API, Script DIY</span>
            </div>
        </div>
    </im-accordion>
</section>
