<section class="description-cards">
    <im-card title="👋 Nom" caption="">Ibrahyma MISSOMA</im-card>
    <im-card
            title="💻 Principales technos"
            caption="Entreprise et projets"
    >
        Angular + Java
    </im-card>
    <im-card title="💼 Expérience" caption="En alternance">2.5 ans</im-card>
    <im-card
            title="📅 Disponibilité"
            caption="France entière"
    >
        ASAP
    </im-card>
</section>
<section class="contact-cards">
    <im-cta-long-card
            mainText="Me contacter par e-mail"
            secondaryText="imissoma.portfolio@gmail.com"
    >
        <a class="action-button" href="mailto:imissoma.portfolio@gmail.com">Envoyer un e-mail</a>
    </im-cta-long-card>
    <im-cta-long-card
            mainText="Me contacter par téléphone"
            secondaryText="(+33) 07.87.04.66.97"
    >
        <a class="action-button" href="tel:+33787046697">Téléphoner</a>
    </im-cta-long-card>
</section>
<section class="skills">
    <im-accordion
            materialIconName="psychology"
            icon-outlined
            header-text="Qualités intrapersonnelles et interpersonnelles"
    >
        <ul class="list">
            <li class="list-item">Remise en question</li>
            <li class="list-item">Sens de l'analyse</li>
            <li class="list-item">Organisation</li>
            <li class="list-item">Persévérance</li>
            <li class="list-item">Rigueur</li>
            <li class="list-item">Autonomie</li>
            <hr class="list-item--separator">
            <li class="list-item">Écoute active</li>
            <li class="list-item">Pédagogie</li>
        </ul>
    </im-accordion>
    <im-accordion
            materialIconName="construction"
            header-text="Compétences fonctionnelles"
    >
        <ul class="list">
            <li class="list-item">Suivi d'un projet via un outil de collaboration</li>
            <li class="list-item">Rédaction et découpage de user stories</li>
            <li class="list-item">Compréhension des comportements utilisateurs</li>
            <li class="list-item">Écoute active des besoins utilisateurs</li>
            <li class="list-item">Travail en équipe pluridisciplinaire</li>
            <hr class="list-item--separator">
            <li class="list-item">Interprétation des retours API côté interface utilisateur</li>
            <li class="list-item">Intégration de maquettes UX/UI dans le respect du design system</li>
            <li class="list-item">Gestion des formulaires complexes avec validations métiers</li>
            <li class="list-item">Réactivité et adaptabilité des interfaces</li>
            <li class="list-item">Optimisation de l’expérience utilisateur</li>
            <hr class="list-item--separator">
            <li class="list-item">Conception d’API REST ou WebSocket adaptées au besoin métiers</li>
            <li class="list-item">Mise en place de logique métier robuste</li>
            <li class="list-item">Mise en place d'un test de logique métier</li>
            <li class="list-item">Mise en place de règles de sécurité applicative</li>
            <li class="list-item">Conformité RGPD</li>
            <li class="list-item">Traçabilité des actions utilisateur (logs, audit)</li>
            <hr class="list-item--separator">
            <li class="list-item">Documentation fonctionnelle sur Confluence ou Notion</li>
            <li class="list-item">Gestion de version de la documentation produit</li>
            <li class="list-item">Intégration continue/déploiement continu (CI/CD)</li>
        </ul>
    </im-accordion>
    <im-accordion
            materialIconName="code"
            header-text="Technologies et outils"
    >
        <ul class="list">
            <li class="list-item">Angular</li>
            <li class="list-item">JavaScript</li>
            <li class="list-item">TypeScript</li>
            <hr class="list-item--separator">
            <li class="list-item">Java</li>
            <li class="list-item">Spring Boot</li>
            <li class="list-item">Node.js</li>
            <hr class="list-item--separator">
            <li class="list-item">Git / GitHub / GitLab</li>
            <li class="list-item">Conteneurisation Docker</li>
            <li class="list-item">Notion</li>
            <li class="list-item">Trello</li>
            <li class="list-item">Slack</li>
        </ul>
    </im-accordion>
</section>
