<nav class="taskbar">
    <ul class="menu">
        <li (click)="mainButtonClickHandler()" class="item">
            <im-customable-logo></im-customable-logo>
        </li>
        <li class="item">
            <a href="https://www.linkedin.com/in/ibrahyma-m-2b955b187/" target="_blank" title="GitHub Profile">
                <i class="bi bi-linkedin"></i>
            </a>
        </li>
        <li class="item">
            <a href="https://github.com/ibrahyma" target="_blank" title="GitHub Profile">
                <i class="bi bi-github"></i>
            </a>
        </li>
    </ul>
    <div class="time">
        <time datetime="HH:mm">{{ currentHour }}</time>
        <time datetime="DD/MM/YYYY">{{ currentDate }}</time>
    </div>
</nav>
