@import "assets/scss/static-variables";

:root {
	--card-width: 125px;
	--card-heading-caption-text-font-size: 0.75rem;
	--card-main-text-font-size: 1.25em;

	--layout-component-bg-opacity: 0.065;
	--taskbar-calculated-height: 73px;
	--window-border-color: 128, 128, 128;
	--window-gap: 2rem;

	@media (prefers-color-scheme: light) {
		--desktop-bg: url(assets/images/background/bg-light-sm.jpg);
		--taskbar-bg: 240, 240, 240;
		--theme-bg: 255, 255, 255;
		--text: 0, 0, 0;

		@media screen and (min-aspect-ratio: 2 / 3) {
			--desktop-bg: url(assets/images/background/bg-light-md.jpg);
		}

		@media screen and (min-aspect-ratio: 16 / 9) {
			--desktop-bg: url(assets/images/background/bg-light-lg.jpg);
		}
	}

	@media (prefers-color-scheme: dark) {
		--desktop-bg: url(assets/images/background/bg-dark-sm.jpg);
		--taskbar-bg: 32, 32, 32;
		--theme-bg: 0, 0, 0;
		--text: 255, 255, 255;

		@media screen and (min-aspect-ratio: 2 / 3) {
			--desktop-bg: url(assets/images/background/bg-dark-md.jpg);
		}

		@media screen and (min-aspect-ratio: 16 / 9) {
			--desktop-bg: url(assets/images/background/bg-dark-lg.jpg);
		}
	}

	@media screen and (min-width: $breakpoint-min-sm) {
		--card-main-text-font-size: 1.4rem;
		--card-font-size: 1rem;
		--card-width: 175px;
	}
}

body {
	background: rgb(var(--theme-bg));
	color: rgb(var(--text));
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: "Segoe UI", sans-serif !important;
	font-size: 0.8em;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

.dark {
	--theme-bg: 0, 0, 0;
	--text: 255, 255, 255;
}

.light {
	--theme-bg: 255, 255, 255;
	--text: 0, 0, 0;
}

.mat-expansion {
	&-indicator {
		fill: rgb(var(--text));
	}

	&-panel-body {
		width: 100%;
		padding: 0 !important;
	}
}

// TODO: Créer le composant Window représentant le modèle d'une fenêtre applicative.
//.window {
//	height: calc(100% - var(--taskbar-calculated-height, 0px));
//	left: 0;
//	max-height: 100vh;
//	max-width: 100vw;
//	min-height: 20px;
//	min-width: 200px;
//	position: absolute;
//	top: 0;
//	width: fit-content;
//	z-index: 1;
//
//	button {
//		background: none;
//		border: none;
//		color: inherit;
//		cursor: default !important;
//		font: inherit;
//		line-height: normal;
//		overflow: visible;;
//		padding: 0;
//	}
//
//	.container {
//		border-radius: 1px;
//		box-shadow: 0 0 3px rgb(var(--window-border-color));
//		height: 100%;
//		overflow: auto;
//		scrollbar-width: none;
//		width: 100%;
//
//		-ms-overflow-style: none;
//
//		&::-webkit-scrollbar {
//			display: none;
//		}
//
//		.header {
//			display: flex;
//			align-items: center;
//			justify-content: space-between;
//			padding-left: 1em;
//
//			.small-title {
//				font-size: 1.1em;
//				letter-spacing: 0.025em;
//			}
//		}
//
//		.content {
//			padding: 1em var(--window-gap);
//		}
//	}
//
//	.close {
//		float: right;
//		font-size: 30px;
//		padding: 0 12px;
//		font-weight: 100;
//		background: transparent;
//
//		&:active {
//			background: red !important;
//		}
//
//		&:hover {
//			background: #C00000;
//			text-decoration: none;
//			cursor: pointer;
//		}
//
//		&:active, &:hover {
//			color: white;
//		}
//	}
//}

@import "assets/scss/shared";
